@model AppStatistics.Core.Models.ExceptionViewModel
@{
    var uri = "";
    if (Config.store.GetException(Model.source.guid) != null) {
        uri = Url.Action("Details", "Exceptions", new { appid = Model.application.guid, excid = Model.source.guid });
    }
}
<div class="tile">
        @if (uri != "") {
            <a href="@uri" style="width:100%" class="tile-title">
                <strong><span class="left" style="float:left">@Model.source.guid</span></strong>
                    <span class="right" style="float:right">@Model.source.timeStamp.ToString()</span>​
                    
            </a>
        }
    <div class="table-responsive">
        <table class="table table-bordered table-hover tile">
            @if (uri == "") {
                <thead><tr><td colspan="2"><b>Exception Details - @Model.source.guid</b></td></tr></thead>}

            <tbody>

                <tr>
                    <td width="100px">Message</td>
                    <td>@Model.source.message</td>
                </tr>
                <tr>
                    <td>Stack Trace</td>
                    <td>
                        @Html.Partial("_StackTrace", Model.source)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>